node_modules/
dist/

# built binaries
dist/

# application configuration
.env*
# ...but keep the default / "base" config checked into version control
!.env

# MySQL Workbench backups
**/*.mwb.bak

# from https://gitignore.io:

# Stores VSCode versions used for testing VSCode extensions
.vscode-test

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
